In [24]:
import pandas as pd
import numpy as np
import requests

In [25]:
url = "https://fantasy.premierleague.com/api/bootstrap-static/"

In [26]:
r = requests.get(url)
json = r.json()
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [27]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [28]:
elements_df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,0.0,75.0,438098,-1,1,-1,1,0,3,0.0,...,170,107,601,271,601,271,567,246,0.00,0.0
1,75.0,NaN,205651,-1,1,-2,2,0,4,0.8,...,37,17,625,68,625,68,175,30,0.00,0.0
2,NaN,NaN,226597,0,0,0,0,0,2,7.0,...,81,5,31,8,35,10,28,10,1.00,1.0
3,NaN,NaN,219847,0,0,1,-1,1,4,8.0,...,12,4,17,3,18,3,18,5,1.00,1.0
4,0.0,0.0,463748,0,0,0,0,0,1,0.0,...,608,63,380,45,380,45,507,63,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,NaN,NaN,483081,0,0,0,0,0,3,1.5,...,136,81,207,106,213,109,408,147,0.94,0.0
629,NaN,NaN,231480,0,0,0,0,0,2,0.0,...,414,97,462,183,462,183,466,170,0.00,0.0
630,NaN,NaN,88484,-1,1,-1,1,0,3,1.0,...,151,93,251,129,289,150,371,127,0.00,0.0
631,NaN,NaN,247412,0,0,0,0,0,4,4.0,...,125,35,78,10,81,10,218,36,1.04,0.0
632,NaN,NaN,510362,0,0,0,0,0,2,1.0,...,487,125,225,72,241,83,344,124,1.00,0.0

In [29]:
teams_df

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1350,1380,1370,1370,1330,1390,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1120,1245,1110,1140,1130,1350,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1100,1100,1075,1100,1130,1105,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1100,1105,1095,1100,1110,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1100,1100,1100,1105,1100,1100,131
5,8,0,None,6,0,Chelsea,0,0,0,CHE,...,None,False,0,1130,1255,1090,1180,1170,1330,4
6,31,0,None,7,0,Crystal Palace,0,0,0,CRY,...,None,False,0,1100,1165,1110,1180,1090,1155,6
7,11,0,None,8,0,Everton,0,0,0,EVE,...,None,False,0,1090,1125,1100,1175,1080,1080,7
8,54,0,None,9,0,Fulham,0,0,0,FUL,...,None,False,0,1080,1125,1070,1130,1090,1120,34
9,40,0,None,10,0,Ipswich,0,0,0,IPS,...,None,False,0,1050,1050,1050,1050,1050,1050,8
10,13,0,None,11,0,Leicester,0,0,0,LEI,...,None,False,0,1050,1060,1060,1050,1060,1050,26
11,14,0,None,12,0,Liverpool,0,0,0,LIV,...,None,False,0,1235,1370,1170,1350,1300,1390,10
12,43,0,None,13,0,Man City,0,0,0,MCI,...,None,False,0,1355,1380,1335,1370,1375,1390,11
13,1,0,None,14,0,Man Utd,0,0,0,MUN,...,None,False,0,1115,1175,1110,1120,1120,1230,12
14,4,0,None,15,0,Newcastle,0,0,0,NEW,...,None,False,0,1130,1285,1100,1185,1160,1380,23
15,17,0,None,16,0,Nott'm Forest,0,0,0,NFO,...,None,False,0,1090,1100,1085,1115,1090,1090,15
16,20,0,None,17,0,Southampton,0,0,0,SOU,...,None,False,0,1050,1050,1050,1050,1050,1050,20
17,6,0,None,18,0,Spurs,0,0,0,TOT,...,None,False,0,1165,1225,1100,1125,1230,1330,21
18,21,0,None,19,0,West Ham,0,0,0,WHU,...,None,False,0,1095,1100,1060,1100,1130,1105,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,...,None,False,0,1095,1100,1075,1105,1115,1100,38

In [30]:
elements_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [31]:
edited_elements_df = elements_df[['first_name', 'second_name','team',
                                'element_type','selected_by_percent',
                                'now_cost','minutes','transfers_in',
                                'value_season','total_points']]

edited_elements_df.shape

(633, 10)

In [32]:
edited_elements_df

,first_name,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points
0,Fábio,Ferreira Vieira,1,3,0.0,54,0,439,0.0,0
1,Gabriel,Fernando de Jesus,1,4,1.3,68,5,15266,0.0,0
2,Gabriel,dos Santos Magalhães,1,2,13.0,60,180,98938,2.0,12
3,Kai,Havertz,1,4,17.3,81,180,569807,1.7,14
4,Karl,Hein,1,1,0.1,40,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...
628,Rodrigo,Martins Gomes,20,3,0.1,55,96,1108,0.5,3
629,Santiago,Bueno,20,2,0.1,45,0,223,0.0,0
630,Pablo,Sarabia,20,3,0.2,54,28,1319,0.4,2
631,Jørgen,Strand Larsen,20,4,0.7,55,173,54604,1.5,8
632,Toti António,Gomes,20,2,0.2,45,180,1252,0.4,2

In [78]:
slim_elements_df['selected_by_percent'] = slim_elements_df['selected_by_percent'].str.replace('%', '').astype(float)
slim_elements_df['value_season'] = slim_elements_df['value_season'].str.replace('%', '').astype(float)
print(slim_elements_df.dtypes)

first_name              object
second_name             object
team                     int64
element_type             int64
selected_by_percent    float64
now_cost                 int64
minutes                  int64
transfers_in             int64
value_season           float64
total_points             int64
dtype: object

C:\Users\Daniel Quinn\AppData\Local\Temp\ipykernel_26924\3576895858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['selected_by_percent'] = slim_elements_df['selected_by_percent'].str.replace('%', '').astype(float)
C:\Users\Daniel Quinn\AppData\Local\Temp\ipykernel_26924\3576895858.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slim_elements_df['value_season'] = slim_elements_df['value_season'].str.replace('%', '').astype(float)