In [2]:
import pandas as pd
import numpy as np
import requests

In [3]:
url = "https://fantasy.premierleague.com/api/bootstrap-static/"

In [4]:
request = requests.get(url)
json = request.json()
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [5]:
print(request)

<Response [200]>

In [6]:
#Create & save as a csv a master list of all EPL players
master_player_df = pd.DataFrame(json['elements'])
master_player_df
#Ensure we can read the whole dataframe, without "..."
pd.set_option("display.max_rows", None)
print(master_player_df.dtypes)

chance_of_playing_next_round            float64
chance_of_playing_this_round            float64
code                                      int64
cost_change_event                         int64
cost_change_event_fall                    int64
cost_change_start                         int64
cost_change_start_fall                    int64
dreamteam_count                           int64
element_type                              int64
ep_next                                  object
ep_this                                  object
event_points                              int64
first_name                               object
form                                     object
id                                        int64
in_dreamteam                               bool
news                                     object
news_added                               object
now_cost                                  int64
photo                                    object
points_per_game                          object
second_name                              object
selected_by_percent                      object
special                                    bool
squad_number                             object
status                                   object
team                                      int64
team_code                                 int64
total_points                              int64
transfers_in                              int64
transfers_in_event                        int64
transfers_out                             int64
transfers_out_event                       int64
value_form                               object
value_season                             object
web_name                                 object
minutes                                   int64
goals_scored                              int64
assists                                   int64
clean_sheets                              int64
goals_conceded                            int64
own_goals                                 int64
penalties_saved                           int64
penalties_missed                          int64
yellow_cards                              int64
red_cards                                 int64
saves                                     int64
bonus                                     int64
bps                                       int64
influence                                object
creativity                               object
threat                                   object
ict_index                                object
starts                                    int64
expected_goals                           object
expected_assists                         object
expected_goal_involvements               object
expected_goals_conceded                  object
influence_rank                            int64
influence_rank_type                       int64
creativity_rank                           int64
creativity_rank_type                      int64
threat_rank                               int64
threat_rank_type                          int64
ict_index_rank                            int64
ict_index_rank_type                       int64
corners_and_indirect_freekicks_order    float64
corners_and_indirect_freekicks_text      object
direct_freekicks_order                  float64
direct_freekicks_text                    object
penalties_order                         float64
penalties_text                           object
expected_goals_per_90                   float64
saves_per_90                            float64
expected_assists_per_90                 float64
expected_goal_involvements_per_90       float64
expected_goals_conceded_per_90          float64
goals_conceded_per_90                   float64
now_cost_rank                             int64
now_cost_rank_type                        int64
form_rank                                 int64
form_rank_type                            int64
points_per_game_rank                      int64
points_per_game_rank_type                 int64
selected_rank                             int64
selected_rank_type                        int64
starts_per_90                           float64
clean_sheets_per_90                     float64
dtype: object

In [7]:
#element_type = position ID. The IDs are as follows:
    # 1-Goalkeeper, # 2-Defender, 3-Midfielder, 4-Forward
    
master_player_df_names = master_player_df[["id","first_name", "second_name", "team", "element_type"]]
master_player_df_names
master_player_csv = master_player_df_names.to_csv("C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_2 - Working_Copy/master_player_csv.csv", index=False)
pd.set_option("display.max_rows", None)
master_player_df_names.head()

   id first_name           second_name  team  element_type
0   1      Fábio       Ferreira Vieira     1             3
1   2    Gabriel     Fernando de Jesus     1             4
2   3    Gabriel  dos Santos Magalhães     1             2
3   4        Kai               Havertz     1             4
4   5       Karl                  Hein     1             1

In [8]:
master_player_df = master_player_df[['first_name', 'second_name', 'chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90']]

master_player_df.head()

,first_name,second_name,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,Fábio,Ferreira Vieira,0.0,0.0,438098,0,0,-1,1,0,...,171,108,615,278,615,278,575,251,0.0,0.00
1,Gabriel,Fernando de Jesus,0.0,0.0,205651,0,0,-2,2,0,...,38,17,636,68,636,68,188,31,0.0,0.00
2,Gabriel,dos Santos Magalhães,NaN,NaN,226597,0,0,0,0,0,...,82,5,31,4,47,9,30,11,1.0,0.67
3,Kai,Havertz,NaN,NaN,219847,0,0,1,-1,1,...,12,4,6,3,13,3,17,5,1.0,0.67
4,Karl,Hein,0.0,0.0,463748,0,0,0,0,0,...,614,64,406,50,406,50,509,63,0.0,0.00

In [9]:
#Screen out the goalies only
#element_type = position ID. The IDs are as follows:
    # 1-Goalkeeper, # 2-Defender, 3-Midfielder, 4-Forward
epl_goalies = master_player_df_names[master_player_df_names["element_type"]==1]
epl_goalies.reset_index().head()

   index   id first_name  second_name  team  element_type
0      4    5       Karl         Hein     1             1
1     11   15      David  Raya Martin     1             1
2     21   73   Norberto  Murara Neto     1             1
3     27  639      Tommy      Setford     1             1
4     39   39        Joe        Gauci     2             1

In [10]:
list_of_teams_df = pd.DataFrame(json['teams'])
list_of_teams_df
#Ensure we can read the whole dataframe, without "..."
pd.set_option("display.max_rows", None)
list_of_teams_df[["id", "name"]]

    id            name
0    1         Arsenal
1    2     Aston Villa
2    3     Bournemouth
3    4       Brentford
4    5        Brighton
5    6         Chelsea
6    7  Crystal Palace
7    8         Everton
8    9          Fulham
9   10         Ipswich
10  11       Leicester
11  12       Liverpool
12  13        Man City
13  14         Man Utd
14  15       Newcastle
15  16   Nott'm Forest
16  17     Southampton
17  18           Spurs
18  19        West Ham
19  20          Wolves